body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

@font-face {
  font-family: "sui_generis";
  src: url(../public/font/sui_generis_rg-webfont.woff2);
}
header {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100vw;
}

.contactSvgs svg {
  height: 5vh;
  fill: #181616;
}

.startButton {
  background-color: #18161600;
  height: 5vh;
  width: 10vw;
  font-family: "sui_generis";
  border: solid;
}

.memberTitle {
  color: black;
  font-weight: bold;
}
.contactSvgs svg:hover {
  height: 5vh;
  fill: #ffffff;
  transition: 0.3s;
}

.linkedin {
  height: 15vh !important;
}

.bioLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.memberContainer {
  display: flex;
  margin: auto;
  height: 75vh;
}

.contactSvgs {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 8vw;
  height: 20vh;
  justify-content: space-evenly;
  bottom: 35vh;
  right: 90vw;

  position: absolute;
}
.mainContent {
}

.mainContent p {
  color: rgb(255, 255, 255);
}

.mainContent h1 {
  font-size: 3em;
  font-family: "sui_generis";
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 100vw;
  margin: auto;
}

.logo {
  max-height: 7vh;
  padding-top: 0;
  margin-top: 0;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 200ms;
}

.right {
  display: flex;
  margin-right: 20px;
}

.left {
  display: flex;
  padding: 8px;
}

.links {
  text-decoration: none;
  padding: 0px;
}

.button-75 {
  align-items: center;
  background-color: rgb(0, 0, 0, 0);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  height: 5vh;
  width: auto;
  justify-content: center;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 27vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:after {
  content: "";
  position: relative;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.button-75:hover:after {
  transform: scaleX(1.1);
  transform-origin: center;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(1.1);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -100;
  filter: brightness(75%);
}
.homeContainer {
  height: 87.2vh;
}
.about {
  padding-bottom: 30px;
  padding-top: 5px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  border-radius: 21px 31px 17px 19px;
  -webkit-border-radius: 21px 31px 17px 19px;
  -moz-border-radius: 21px 31px 17px 19px;
  height: 100%;
  background: rgb(49, 48, 61);
  background: linear-gradient(
    347deg,
    rgb(49, 48, 61) 31%,
    rgba(0, 0, 0, 0.845) 100%
  );
  background-size: cover;

  box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20vw;
  height: 65vh;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-logo {
  margin-top: -60px;
  margin-bottom: -50px;
}

.headshot {
  border-radius: 50%;
  width: 18vw;
  border: 0.3vw solid rgb(132, 0, 197);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #ad00e6,
    0 0 50px #9200e6;
}

.name {
  font-size: 6vw;
  font-weight: bolder;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #e6007389,
    0 0 12px #ad00e689, 0 0 10px #9200e67e;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center !important;
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "sui_generis";
}

.bio {
  width: 50%;
  font-size: 1.1em;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
}

.techIcon {
  max-width: 5vw;
  padding: 2px;
  max-height: 10vh;
}

.techIcon:hover {
  transform: scale(1.2);
  transition: all 200ms;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10%;
}

.gitGraph {
  /* background-color: rgb(0, 0, 0, 0.6); */
  width: 50vw;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10%;
}

.projects {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  background: rgb(49, 48, 61);
  background: linear-gradient(
    347deg,
    rgb(49, 48, 61) 31%,
    rgba(0, 0, 0, 0.845) 100%
  );
  background-size: cover;
  border-radius: 21px 31px 17px 19px;
  -webkit-border-radius: 21px 31px 17px 19px;
  -moz-border-radius: 21px 31px 17px 19px;
  box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
}

.projTitle {
  font-size: 6vw;
  font-weight: bolder;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #e6007389,
    0 0 12px #ad00e689, 0 0 10px #9200e67e;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center !important;
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "sui_generis";
}

.projLinks{
  width: 50%;
  margin: auto;
  padding-top: 25%;
  display: flex;
  flex-direction: row;
}

.navLinks{
  color: white;
}

.navLinks:hover{
  color: rgba(6, 6, 6, 0.767) !important;
  transition: .2s
}


.projectsCardsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.projName {
  font-size: 5vw;
  text-shadow: 0 0 10px gray;
}

.memberName {
  font-size: 5vw;
  text-shadow: 0 0 10px gray;
  margin-bottom: -20px;
}

.projectPics {
  margin: auto;
  width: 35vw;
  border: 4px solid rgb(132, 0, 197);
}

.projectPics:hover {
  transform: scale(1.1);
  transition: all 200ms;
}

.description {
  width: 35vw;
  font-size: 1.3vw;
  background-color: rgb(0, 0, 0, 0.8);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.techUsed {
  font-weight: bolder;
  color: rgb(132, 0, 197);
}

.aboutTech {
  display: flex;
  height: 40vh;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.icons {
  width: 4vw;
  background-color: #fff;
  border-radius: 50%;
  margin: auto !important;
}

.icons:hover {
  transform: scale(1.2);
  transition: all 200ms;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  background-color: rgb(0 0 0 / 75%) !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
  margin: 0 auto !important;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
  padding: 10px !important;
  padding-right: 13px !important;
  padding-bottom: 12px !important;
  background-color: rgb(255, 255, 255) !important;
  outline: none;
  width: 80% !important;
  height: 80% !important;
  margin: 0 auto;
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: black;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  margin: 0 auto !important;
}

.iframe {
  width: 100%;
  height: 100%;
}

.contact {
  padding-bottom: 30px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  height: 100vh;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
}

.contactFormContainer input {
  padding-top: 30px;
  border: none;
  border-bottom: white solid;
  background: none;
  color: whitesmoke !important;
}

.contactFormContainer input::placeholder {
  padding-top: 30px;
  border: none;
  border-bottom: white solid;
  background: none;
  color: whitesmoke !important;
}

.contactFormContainer textarea {
  border-radius: 21px 31px 17px 19px;
  -webkit-border-radius: 21px 31px 17px 19px;
  -moz-border-radius: 21px 31px 17px 19px;
  margin-top: 50px;
  width: 50vw;
  height: 20vh;
  border: none;
  border-bottom: white solid;
  background: none;
  resize: none;
  transition: 0.3s;
  box-shadow: 0px 10px 96px 4px rgba(0, 0, 0, 0.84) inset;
  -webkit-box-shadow: 0px 10px 96px 4px rgba(0, 0, 0, 0.84) inset;
  -moz-box-shadow: 0px 10px 96px 4px rgba(0, 0, 0, 0.84) inset;
}

.contactFormContainer input:focus,
.contactFormContainer textarea:focus {
  outline: none;
  box-shadow: none;
  border-bottom: #f83c68 solid;
  transition: 0.3s;
  outline-color: transparent;
  color: white !important;
}

.contactFormContainer textarea::placeholder {
  margin-top: 50px;
  width: 50vw;
  border: none;
  border-bottom: white solid;
  color: rgb(255, 255, 255) !important;
}

.contactFormContainer {
  display: flex;
  background: rgb(49, 48, 61);
  background: linear-gradient(
    347deg,
    rgb(49, 48, 61) 31%,
    rgba(0, 0, 0, 0.845) 100%
  );
  border-radius: 21px 31px 17px 19px;
  -webkit-border-radius: 21px 31px 17px 19px;
  -moz-border-radius: 21px 31px 17px 19px;
  padding: 20px;
  background-size: cover;
  box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0px 10px 56px -6px rgba(0, 0, 0, 0.84);
  width: 60vw;
  height: 50vh;
  padding: 20px;
  margin: auto;
  justify-content: center;
  flex-direction: row;
}

.contactTitle {
  color: white;
  font-size: 8vw;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #ad00e6,
    0 0 50px #9200e6;
}

.conLogo {
  max-height: 25vh;
  max-width: 25vw;
  padding: 10px;
}

.conLogo:hover {
  transform: scale(1.2);
  transition: all 200ms;
}

.contentBackground {
  background: rgb(49, 48, 61);
  background: linear-gradient(
    347deg,
    rgba(49, 48, 61, 0.895) 31%,
    rgb(215, 118, 215) 100%
  );
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .button-75 {
    font-size: 11px;
    height: 50px;
    width: 76px;
  }

  .button-75 span {
    line-height: 50px;
  }

  .about {
    padding-top: 5%;
  }

  .main-logo {
    width: 50vw;
  }

  .headshot {
    border-radius: 50%;
    width: 50vw;
  }

  .bio {
    width: 70vw;
    font-size: 12px;
  }

  .techIcon {
    max-width: 8vw;
    padding: 2px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-auto-flow: row;
  }

  .projectPics {
    width: 75vw;
    border: 4px solid rgb(132, 0, 197);
  }

  .ReactModal__Content {
    width: 80% !important;
    height: 30% !important;
    margin-right: -20px;
  }

  .description {
    width: 75vw;
    font-size: 3vw;
  }

  .icons {
    width: 9vw;
    background-color: rgb(132, 0, 197);
    border-radius: 50%;
    margin: 2px;
  }

  .nav {
    padding: 0px;
    padding-top: 8px;
  }

  .right {
    margin-right: 5px;
  }

  .left {
    margin-left: 5px;
  }

  footer {
    font-size: 10px;
  }
}
